.App {
  text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Open+Sans:wght@300;400&display=swap");

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.heading {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Desktop */
body {
  font-family: "Playfair Display", serif;
}
h1 {
  font-size: 48px;
  line-height: 1.2;
}
h2 {
  font-size: 32px;
  line-height: 1.4;
}
p {
  font-family: "serif"; /* Adding serif font for paragraphs */
  font-size: 18px;
  line-height: 1.6;
}

/* Mobile */
@media (max-width: 768px) {
  h1 {
    font-size: 32px;
    line-height: 1.2;
  }
  h2 {
    font-size: 24px;
    line-height: 1.4;
  }
  p {
    font-family:  "serif"; /* Serif font maintained for mobile */
    font-size: 16px;
    line-height: 1.5;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
